<section id="bd">
<h1>The Epiphany</h1>
<p id="p1">Who do you go to, to talk about your wellness problems? Who does a man go to when he starts losing hair? Losing sleep? Losing confidence?</p>
<br><br><br>
<h1>It’s not Sympathy, Its Empathy!</h1>
<p id="p2">When we asked ourselves these questions, we found no answer. And then we realized, neither did millions of other men. We just learn to live with it. This seemed quite unacceptable. We rarely speak about our health. It’s not that we don’t care. But talking about personal health can be difficult. Often embarrassing. We get that.</p>
<br><br><br>
<h1>Groom With Us</h1>
<p id="p3">So we took ‘matters’ into our own hands; and created a place for all matters of man. Hair, skin, weight, sleep, sex and much more. A wellness platform focused on men. So join with us and get Groomed yourselves</p>
<div *ngFor="let i of facilities">
    <img src="{{i.url}}" alt="">
    <p>{{i.facName}}</p>
</div>
</section>